h1 {
    font-size: 1.5rem;
}
textarea {
    min-width: 300px;
    min-height: 100px;
    width: 80%;
    transition: all 750ms;
    accent-color: darkslategray;
    padding: .3rem;
}
body {
    background-color: darkslategray;
    padding: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 500ms;
}
#mainDiv {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    transition: all 500ms;
}
.status {
    font-size: .7rem;
}
p {
    display: inline;
}
@media (max-width: 550px) {
    body {
        padding: .2rem;
    }
    #mainDiv {
        padding: .2rem;
        height: 80vh;
    }
    textarea {
        min-width: 200px;
        min-height: 150px;
        height: 50vh;
    }
    p {
        display: block;
    }
}