h1 {
    font-size: 1.5rem;
}
textarea {
    min-width: 300px;
    min-height: 100px;
    width: 80%;
    transition: all 750ms;
    accent-color: darkslategray;
    padding: .3rem;
}
body {
    background-color: darkslategray;
    background-image: url(https://images.unsplash.com/photo-1605429201125-37e867327609?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80);
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 500ms;
    height: 100vh;
}
#mainDiv {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    transition: all 500ms;
}
.status {
    font-size: .7rem;
}
p {
    display: inline;
}
@media (max-width: 550px) {
    body {
        padding: .2rem;
    }
    #mainDiv {
        padding: .2rem;
        height: 80vh;
    }
    textarea {
        min-width: 200px;
        min-height: 150px;
        height: 50vh;
    }
    p {
        display: block;
    }
}